<div class="jumbotron">
  <div class="row">
    <div class="card-columns">
    <p class="mypage"><%= @name %>'s page</p>
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-img-top text-center">
            <%= image_tag post.image.variant(resize: '250x250') if post.image.attached? %>
          </div>
          <div class="card-body">
            <p class="card-title"><%= link_to post.user.name, user_path(current_user.id), class: "editlink" %></p>
            <p class="card-text"><%= safe_join(post.text.split("\n"),tag(:br)) %></p>
            <div>
              <%= link_to "Comment", post_path(post.id), class: "editlink" %>
            </div>
              <% if user_signed_in? && current_user.id == post.user_id %>
                <%= link_to "Edit", edit_post_path(post.id), class: "editlink", method: :get %>
                <%= link_to "Delete", post_path(post.id), class: "editlink delete",  method: :delete %>
              <% else %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>