<div class="jumbotron">
  <div class="row">
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Help Each Other とは？</h5>
          <p class="card-text">Help Each Other は認知症介護者を対象に作成したSNSです。</p>
          <p class="card-text">介護をしていて役立った情報や知恵、面白かったことなどを発信してもらえればと考えています。</p>
          <p class="card-text">大好きな母や父、祖父母を想い恩返しのつもりで介護をしていても、</p>
          <p class="card-text">毎日続く介護に疲労してしまい笑顔でいられなくなることやもあると思います。</p>
          <p class="card-text">そんな時は、このサイトを開いてみんなで助け合い、できる限りハッピーな気持ちになってもらえたら幸いです。</p>
        </div>
      </div>

      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <div class="card">
            <div class="card-img-top text-center">
              <%= image_tag post.image.variant(resize: '250x250') if post.image.attached? %>
            </div>
        <% end %>
            <div class="card-body">
              <% if user_signed_in? && current_user.id == post.user_id %>
                <p class="card-title"><%= link_to post.user.name, user_path(current_user.id), class: "editlink" %></p>
              <% else %>
                <p class="card-title"><%= post.user.name %></p>
              <% end %>
                <p class="card-text"><%= post.text %></p>
                <%= link_to "Comment", post_path(post.id), class: "editlink" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
