<div class="jumbotron">
  <div class="row">
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Help Each Other とは？</h5>
          <p class="card-text">Help Each Other は、認知症の方を介護している人々が気軽に意見を交換したり、</p>
          <p class="card-text">介護の知恵などを発信し、互いに助け合うことができれば良いなという想いから生まれたSNSです。</p>
          <p class="card-text">大好きな母や父、祖父母を想い恩返しのつもりで介護をしていても、</p>
          <p class="card-text">毎日続く介護に疲弊してしまい笑顔を失ってしまうこともあると思います。</p>
          <p class="card-text">そんな時は、このアプリを開いてみんなで助け合い、</p>
          <p class="card-text">介護される人もする人もできる限りハッピーに過ごせるきっかけになれば嬉しいです。</p>
        </div>
      </div>

      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <div class="card">
            <div class="card-img-top text-center">
              <%= image_tag post.image.variant(resize: '250x250') if post.image.attached? %>
            </div>
        <% end %>
            <div class="card-body">
              <% if user_signed_in? && current_user.id == post.user_id %>
                <p class="card-title"><%= link_to post.user.name, user_path(current_user.id), class: "editlink" %></p>
              <% else %>
                <p class="card-title"><%= post.user.name %></p>
              <% end %>
                <p class="card-text"><%= safe_join(post.text.split("\n"),tag(:br)) %></p>
                <%= link_to "Comment", post_path(post.id), class: "editlink" %>
              <div class="like-good">
                <div id="likes_buttons_<%= post.id %>" class="like">
                  <%= render partial: 'likes/like', locals: {post: post} %>
                </div>
                <div id="goods_buttons_<%= post.id %>" class="good">
                  <%= render partial: 'goods/good', locals: {post: post} %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
