<div class="jumbotron">
  <div class="row">
    <div class="card-columns">
      <div class="card">
        <div class="card-img-top text-center">
          <%= image_tag @post.image.variant(resize: '250x250') if @post.image.attached? %>
        </div>
        <div class="card-body">
          <% if user_signed_in? && current_user.id == @post.user_id %>
            <p class="card-title"><%= link_to @post.user.name, user_path(current_user.id), class: "editlink" %></p>
          <% else %>
            <p class="card-title"><%= @post.user.name %></p>
          <% end %>
            <p class="card-text"><%= safe_join(@post.text.split("\n"),tag(:br)) %></p>
            <div class="comment-form">
              <% if user_signed_in? %>
                <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
                  <%= f.text_area :text, rows: "1", class: "form-control comment-text"%>
                  <%= f.submit "comment", class: "btn btn-outline-secondary" %>
                <% end %>
              <% end %>
            </div>
            <div id="comments">
                <% @post.comments.each do |comment| %>
                  <div class="comment">
                    <p class="user-info"><%= comment.user.name %> ： <%= comment.text%></p>
                  </div>
                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>