<!DOCTYPE html>
<html>
  <head>
    <title>TasukeaiKaigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="sticky-top">
        <nav class="navbar navbar-light" style="background-color: white;">
          <div class="container-fluid">
            <a href="/" class="navbar-brand">助け合い介護</a>
            <form class="d-flex">
              <% if user_signed_in? %>
                <%= link_to "投稿", new_post_path, class: "btn btn-outline-secondary mr-2" %>
                <%= link_to "マイページ", root_path, class: "btn btn-outline-secondary mr-2" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mr-2" %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary mr-2" %>
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary mr-2" %>
              <% end %>
            </form>
          </div>
        </nav>
      </div>
    </header>
  <%= yield %>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">MikaKanemasu</p>
    </footer>
  </body>
</html>
