<!DOCTYPE html>
<html>
  <head>
    <title>TasukeaiKaigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-light sticky-top" style="background-color: #EEEEEE;">
        <div class="container">
          <a href="/" class="navbar-brand d-flex align-items-center">
           <strong>助け合い介護</strong>
          </a>
        </div>
        <%# <a class="btn btn-outline-secondary mr-2" href="#" role="button">マイページ</a> %>
        <%# <a class="btn btn-outline-secondary mr-2" href="#" role="button">ログアウト</a> %>
        <a class="btn btn-outline-secondary mr-2" href="#" role="button">ログイン</a>
        <a class="btn btn-outline-secondary mr-2" href="#" role="button">新規登録</a>
      </div>
    </header>
  <%= yield %>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">MikaKanemasu</p>
    </footer>
  </footer>
  </body>
</html>
