<!DOCTYPE html>
<html>
  <head>
    <title>HelpEachOther</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light fixed-top" style="background-color: white;">
        <div class="container-fluid">
          <%= link_to image_tag("logo.PNG"), root_path, class:"navbar-brand" %>
          <form class="d-flex">
            <% if user_signed_in? %>
              <%= link_to "Post", new_post_path, class: "btn btn-outline-secondary mr-2" %>
              <%= link_to "My page", user_path(current_user.id), class: "btn btn-outline-secondary mr-2" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mr-2" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-secondary mr-2" %>
              <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-secondary mr-2" %>
            <% end %>
          </form>
        </div>
      </nav>
    </header>
  <%= yield %>
  </body>
</html>
